* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

body{
    background: #fff;
    font-family: 'Poppins', sans-serif;
    margin-top: 4%;
}

nav{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    border-bottom: 1.5px solid #c0c0c0;
    background-color: white;
    padding: 0 2em;
}

nav a{
    color: black;
    font-size: large;
}

.main-container {
    margin-left: 300px;
    margin-right: 300px;
    overflow: auto;
}

nav img{
    width: 7%;
    float: left;
    margin-top: 10px;
    margin-left: 260px;
}

nav ul{
    float: right;
    margin-top: .5%;
    margin-right: 260px;
}

nav ul li{
    display: inline-block;
    margin: 1.5em;
}

.classworks h1{
    color: rgb(121, 121, 121);
    font-weight:400;
    font-size: large;
    display:inline-block;
    margin-bottom: 20px;
}

.main-container aside {
    float: left;
}

main img{
    width: 100%;
}

aside{
    display:flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

aside img{
    width: 96%;
    box-shadow: 5px 5px 2px #b1b1b1;
    overflow: auto;
}
.imageGroup1 img{
    width: 98%;
}
.imageGroup1{
    display: flex;
    justify-content: space-between;
}

.imageGroup2{
    margin: 10px 0;
    float: left;
    width: 99%;
}

.imageGroup3{
    display:inline-flex;
    justify-content: space-between;
}
.imageGroup3 img{
    width: 98%;
}

.sideproject h1{
    color: rgb(121, 121, 121);
    font-weight:400;
    font-size: large;
    display:inline-block;
    margin-top: 100px;
    margin-bottom: 20px;
}

.footer{
    color: rgb(25, 189, 3);
    text-align: center;
    padding: 30px;
    font-size:medium;
    font-weight: 300;
    border-top: 1.5px solid silver;
    background-color: white;
}